body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 30px;
}

p{
    color: dimgray;
}

.magenta-highlight{
    color: magenta;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img{
    width: 100%;
}

.header-background-banner{
    background-image: url("images/top-background-banner.png");
    background-repeat: no-repeat;
    background-color: #cccccc; 
    height: 400px; 
    background-position: center; 
    background-size: cover;
    position: relative; 
}

.biography-background-banner{
    background-image: url("images/biography-background-area.png");
    background-repeat: no-repeat;
    height: 400px; 
    background-position: center; 
    background-size: cover;
    position: relative; 
}

section{
    height: 500px;
    padding-bottom: 150px;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.alignment{
    text-align: center;
}


.image-position img {
  width: 100%;
  height: auto;
}

.image-position{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 445px;
}

.footer-background-banner{
    background-image: url("images/footer-bg.png");
    background-repeat: no-repeat;
    height: 400px; 
    background-position: center; 
    background-size: cover;
    position: relative; 
}

.closing h3, h4, h5{
    text-align: center;
    font-weight: 700;
}

.email{
    text-align: center;
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

footer p{
    text-align: center;
    font-size: 15px;
}







